@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@font-face {
  font-family: proxima_nova;
  src: url("../resources/fonts/Proxima Nova Alt Light.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 400;
}

body {
  /*background-color:$secondary-color;*/
  color: #000;
  font-family: proxima_nova;
}

body.active {
  overflow: hidden !important;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
}

.btn {
  border: 0.1875rem solid #fff;
  color: #fff !important;
  padding: 0.1rem 1rem;
  display: inline-block;
}

.btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 0.1875rem solid #c50000;
  color: #c50000 !important;
}

.btn--red {
  border: 0.1875rem solid #c50000;
  color: #c50000 !important;
}

.btn--red:hover {
  opacity: 0.8;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .flex-c {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.t-c {
  text-align: center;
}

.width-1 {
  width: 10%;
}

.width-2 {
  width: 20%;
}

.width-3 {
  width: 30%;
}

.width-4 {
  width: 40%;
}

.width-5 {
  width: 50%;
}

.width-6 {
  width: 60%;
}

.width-7 {
  width: 70%;
}

.width-8 {
  width: 80%;
}

.width-9 {
  width: 90%;
}

.width-10 {
  width: 100%;
}

.checked {
  color: #c50000 !important;
  font-size: 2rem !important;
}

.separator {
  margin: 1rem 0;
  height: 1px;
  background-color: #737373;
}

@media screen and (min-width: 768px) {
  .center-view {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.table td, .table th {
  border: 1px solid #d9d9d9;
  text-align: left;
}

.table th, .table td {
  padding: 0.9375rem;
}

.table th {
  font-weight: 600 !important;
  font-size: 1.2rem;
}

.table a {
  color: #c50000;
}

noscript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #c50000;
  color: #fff;
}

.nav {
  position: absolute;
  width: 100%;
  height: 3.125rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.nav__bottom {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: calc(100% - 1rem);
  height: 3.125rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  border-top: 0.1875rem solid #fff;
}

.nav--item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.nav__icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.nav__name {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.nav__name::after {
  content: 'Batumi';
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .nav__name::after {
    content: 'Batumi';
  }
}

.nav__links {
  margin-right: 0.5rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__links {
    display: block;
  }
}

.nav__links > a {
  color: #fff;
  font-size: 1.125rem;
  margin: 0 0.3rem;
}

.nav__links > a:hover {
  color: #c50000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav .hamburger {
  margin-right: 1rem;
  cursor: pointer;
}

.nav .hamburger.active {
  -webkit-transform: translateX(-0.375rem);
          transform: translateX(-0.375rem);
}

.nav .hamburger.active > div:first-child {
  -webkit-transform: rotate(45deg) translateX(0.5rem);
          transform: rotate(45deg) translateX(0.5rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav .hamburger.active > div:nth-child(2) {
  opacity: 0;
}

.nav .hamburger.active > div:last-child {
  -webkit-transform: rotate(-45deg) translateX(0.5rem);
          transform: rotate(-45deg) translateX(0.5rem);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav .hamburger:hover {
  opacity: 0.6;
}

.nav .hamburger > div {
  margin: 0.1875rem 0;
  background-color: #fff;
  height: 0.1875rem;
  width: 1.25rem;
}

@media screen and (min-width: 768px) {
  .nav .hamburger {
    display: none;
  }
}

.menu {
  z-index: 4;
  display: none;
  position: fixed;
  left: 50%;
  top: 3rem;
  width: calc(100% - 1rem);
  height: calc(100% - 6.25rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  border-top: 0.1875rem solid #fff;
  padding: 1rem;
  overflow: auto;
}

.menu > a {
  display: inline-block;
  padding: 0.5rem;
  font-weight: 600;
  color: #000;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  /*&:last-child{
      margin-top: 0.5rem !important;
    }*/
}

.menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-overlay {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  display: none;
}

.menu-overlay.active {
  display: block;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social > li {
  list-style: none;
}

.social > li > a {
  display: block;
  margin-right: 0.625rem;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.social > li > a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .hide-for-small {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .items__item {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .items__item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__links > a {
  color: #000;
  padding: 0.5rem;
  font-weight: 600;
}

.footer__links > a:hover {
  color: #c50000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__copy {
  margin-top: 0.5rem;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.footer__copy > a {
  color: #4d4d4d !important;
  font-size: 1rem;
}

.footer__copy > a:first-child {
  cursor: initial;
}

@media screen and (min-width: 768px) {
  .footer__links {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .footer__copy {
    margin-top: 0;
  }
}

.mobile {
  width: 16.075rem;
  height: 31.25rem;
  border-radius: 1.25rem;
  border: 0.625rem solid #000;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brands {
  background-color: #c50000;
  text-align: center;
}

.brands > h1 {
  color: gray;
  color: #fff;
  padding: 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .brands {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section, .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin: 2rem 0;
}

.section__img {
  width: 100%;
  height: auto;
}

.section > :first-child, .contact > :first-child,
.section > :last-child,
.contact > :last-child {
  width: 100%;
}

.section > :first-child h1, .contact > :first-child h1,
.section > :last-child h1,
.contact > :last-child h1 {
  margin-bottom: 1rem;
}

.section.r-o > :first-child, .r-o.contact > :first-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section.r-o > :last-child, .r-o.contact > :last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 768px) {
  .section, .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section img, .contact img {
    margin-top: 0rem;
  }
  .section > :first-child, .contact > :first-child {
    width: 40%;
  }
  
  .section > :last-child,
  .contact > :last-child {
    width: 50%;
  }
  .section.r-o > :first-child, .r-o.contact > :first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section.r-o > :last-child, .r-o.contact > :last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section.reversed > :first-child, .reversed.contact > :first-child {
    width: 50%;
  }
  .section.reversed > :last-child, .reversed.contact > :last-child {
    width: 40%;
  }
}

.section__bg-standard {
  background-color: #fff;
}

.section__title {
  font-size: 4rem;
  text-transform: uppercase;
  color: #000;
  color: #669bbf;
}

.section__desc {
  color: #404040;
}

.customers-header {
  text-align: center;
  background-color: #fff;
}

.customers-header__desc {
  color: #c50000;
  padding: 0rem 1rem;
  font-size: 4rem;
}

@media screen and (min-width: 768px) {
  .customers-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.customers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .customers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.customer {
  width: 100%;
}

.customer__name {
  margin-bottom: 1rem;
  margin-top: 1rem !important;
  color: #669bbf;
}

.customer__review {
  margin-top: 1rem;
  color: #404040;
}

.customer__review::after {
  content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...';
}

.customer__link {
  margin-top: 1rem;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .customer {
    width: 30%;
  }
  .customer__name {
    margin-top: 0;
  }
}

.contact__mess, .contact__warn {
  padding: 1rem;
}

.contact__warn {
  color: #ff5f5f;
  padding: 1rem;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8;
}

.modal-window {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.3125rem;
  z-index: 10;
}

.modal-window__link {
  cursor: pointer;
}

.modal-window__img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.homepage {
  background-color: #111;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1rem;
  overflow: auto;
}

.homepage__video, .homepage__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  opacity: 0.9;
}

.homepage__filter {
  background-color: #03a9f4;
  z-index: 2;
  mix-blend-mode: overlay;
}

.homepage__desc {
  color: #fff;
  z-index: 3;
}

.homepage__desc > h1 {
  font-weight: 800;
}

.homepage__desc > h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.homepage__desc > h1,
.homepage__desc > h2 {
  font-size: 3rem;
  display: block;
  line-height: 1em;
}

.homepage__desc > p {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .homepage__desc {
    width: 80%;
  }
  .homepage__desc > h1 {
    font-size: 5rem;
  }
  .homepage__desc > h2 {
    font-size: 4rem;
  }
}

.svg-background {
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.card__name {
  margin-bottom: 1rem;
  margin-top: 1rem !important;
  color: #669bbf;
}

.card__content {
  margin-bottom: 1rem;
  color: #404040;
}

.card__content::after {
  content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ...';
}

.card__link {
  margin-top: 1rem;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .card {
    width: 30%;
  }
  .card__name {
    margin-top: 0;
  }
}

.card--shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card--shadow:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #669bbf;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #c50000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.container--left {
  left: 0;
}

.container--left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.container--right {
  left: 50%;
}

.container--right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.container--right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .container--left::after, .container--right::after {
    left: 15px;
  }
  .container--right {
    left: 0%;
  }
}

@media screen and (min-width: 768px) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main {
  position: relative;
}

.main__text, .main__image {
  text-align: center;
  width: 100%;
}

.main__text > h1,
.main__text > h3 {
  margin-bottom: 1rem;
}

.main__text > a {
  font-size: 1.125rem;
  padding: 0.2rem 2rem !important;
}

@media screen and (min-width: 768px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__text {
    width: 40%;
    text-align: center;
  }
  .main__image {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*> img:first-child{
        transform: translate(2rem,2rem);
      }
  
      > img:last-child{
        transform: translate(-2rem,-0rem);
      }*/
  }
}
/*# sourceMappingURL=main.css.map */